*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  font-size: 25px;
}

.ticket_wrap{
  overflow: hidden;
}

h1{
  font-size: 50px;
  font-weight: bolder;
  padding: 50px 0;
}

div#prezzo{
  font-size: 80px;
  width: 50%;
  margin: 0 auto;
  padding: 100px 0 ;
  animation:
  opacity linear 2.5s;
}

@keyframes opacity{
  0%{
    opacity: 0;
  }
  80%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}

.rail{
  color: #fff;
  background-color: #000;
  width: 60%;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
}

img.train_img{
  position: absolute;
  width: 30%;
  bottom: 0;
  left: -300px;
  animation:
  riding_train linear 12s infinite;
}

@keyframes riding_train {
  0%{
    left: -300px;
  }

  100%{
    left: 100%;
  }
}
